@import './CommonVars.css';
/* Styles for common assets */

/* Buttons */
.solid-button {
    border-radius: 50px;
    width: fit-content;
    margin: 1em;
    padding: .8em 3em;
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    font-weight: bold;
  }

  .outlined-button {
    border-radius: 50px;
    font-weight: bold;
    width: fit-content;
    margin: 1em;
    padding: .8em 3em;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: #fff;
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
  }

/* Main App Nav Bar */
  .nav {
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 231, 250);
    margin-right: 2rem;
  }

  .nav-icons {
    width: 1.5rem;
    margin: 1rem;
  }

  /* Logo */
  .logo {
      font-weight: 700;
      font-size: 1.3rem;
  }

  /* Public Nav Bar */
  .landing-nav {
    position: fixed;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
}

.landing-nav-labels-wrapper {
    display: flex;
    align-items: center;
}

.landing-nav-labels {
    margin-left: 2rem;
    font-weight: bold;
}

.landing-nav-labels a {
  color: var(--body-text-color);
}

.landing-nav-button {
    margin: 0 0 0 0.5rem;
    padding: .7em 1.5em;
}