/* Styles for Login and Sign Up pages */

/* Back button for auth pages */
.back-button {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}

/* Login Page */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-field {
    border-radius: 5px;
    margin: .5em;
    padding: 1em;
    outline: none;
    border: 1px;
    width: 20em;
    color: var(--body-text-color);
    background-color: rgb(243, 243, 243);
    font-family: 'Poppins', sans-serif;
    
  }
  
  ::placeholder {
    color: var(--body-text-color);
    font-family: 'Poppins', sans-serif;
  }