/* Styles for Login and Sign Up pages */

/* Login Page */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-field {
    border-radius: 5px;
    margin: .5em;
    padding: 1em;
    outline: none;
    border: 1px;
    width: 20em;
    color: #3F4573;
    background-color: rgb(243, 243, 243);
    font-family: 'Poppins', sans-serif;
    
  }
  
  ::placeholder {
    color: #3F4573;
    font-family: 'Poppins', sans-serif;
  }