/* Styles for Landing page */
.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    overflow-x: hidden;
}

/* Public Nav Bar */
.landing-nav {
    padding: .5rem .5rem 1rem .5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    margin-bottom: 2rem;
}
  
.landing-nav-labels-wrapper {
    display: flex;
    align-items: center;
}

.landing-nav-labels {
    margin-left: 2rem;
    font-weight: bold;
}

.landing-nav-labels a {
color: var(--body-text-color);
}

.landing-nav-button-solid {
    border-radius: 50px;
    width: fit-content;
    padding: .6em 2em;
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
}

.landing-nav-button-outlined {
    border-radius: 50px;
    width: fit-content;
    padding: .6em 2em;
    outline: none;
    border: 2px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    margin: .5rem;
}

/* Hero Section */
.hero-section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-heading {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.hero-body {
    width: 35rem;
}

.hero-image {
    width: 30rem;
}