/* Styles for Landing page */

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.hero-heading {
    font-size: 2rem;
    font-weight: bold;
}

/* .hero-body {
    
}
.hero-image {
    
} */