  .nav-wrapper {
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
  }
  
  .nav {
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 231, 250);
    margin-right: 2rem;
  }
  
  .nav-labels a {
    text-decoration: none;
    color: rgb(62, 53, 85);
  }

  .logo-img {
    width: 2rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
  }

  .nav-icons {
    width: 2rem;
    margin: 1rem;
  }