@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import './style/Dashboard.css';
@import './style/Pomodoro.css';
@import './style/Tasks.css';
@import './style/Auth.css';
@import './style/Assets.css';
@import './style/Landing.css';
@import './style/CommonVars.css';

.App {
  text-align: center;
  background: rgb(255, 255, 255);
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: var(--body-text-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


h5 {
  font-weight: 400;
  padding: 1rem;
  margin: 0;
}

h1 {
  font-weight: 500;
  padding: 1rem;
  margin: 0;
}

h2 {
  font-weight: 500;
  padding: 1rem;
  margin: 0;
}

a {
  color:  var(--main-color);
  text-decoration: none;
}

ul {
  padding-inline-start: 1em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}