@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
  background: #fff;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: rgb(62, 53, 85);
}

a {
  color: rgb(150, 155, 223);
  text-decoration: none;
}

ul {
  padding-inline-start: 1em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.Contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width{
  width: 100vw;
  margin: 0 10rem;
}

.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22em;
  height: 22em;
  background-color: transparent;
  border-radius: 200px;
  border: 1.5px solid rgb(62, 53, 85);
}

.increment-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(62, 53, 85);
  font-size: 1em;
  padding: 0.5em;
}

.timer-settings {
  display: flex;
  flex-direction: row;
  font-size: 3em;
  color: rgb(62, 53, 85);
}

/* Nav Bar Styling */
.navigation {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding:  1em 2em 2em 2em;
  align-items: center;
}

.nav-labels {
  float: right;
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-labels a {
  text-decoration: none;
  color: rgb(62, 53, 85);
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo-img {
  width: 2rem;
  padding-right: 1rem;
}

.start-btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 40px;
  background-color: transparent;
}

/* Login Page */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-field {
  border-radius: 5px;
  margin: .5em;
  padding: 1em;
  outline: none;
  border: 1px;
  width: 20em;
  color: #3F4573;
  background-color: rgb(241, 241, 243);
  font-family: 'Poppins', sans-serif;
  
}

::placeholder {
  color: #3F4573;
  font-family: 'Poppins', sans-serif;
}

.login-button {
  border-radius: 50px;
  width: fit-content;
  margin: 1em;
  padding: .8em 3em;
  outline: none;
  border: none;
  background-color: rgb(167, 172, 248);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: .9em;
}

/* Contribution Graph */

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.contribution-graph {
  display: inline-grid;
  grid-template-areas: 
  ". contributions"
  "empty months" 
  "days squares";
  grid-template-columns: auto 1fr;

}

.contribution-graph ul {
  list-style: none;
}

.contribution-count {
  text-align: left;
  grid-area: contributions;
  padding: 1em;
  margin: 0;
}

.months { 
  grid-area: months; 
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
}
.days { grid-area: days; }

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares { 
  grid-area: squares; 
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares li {
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
}

.squares li[data-level="1"] {
  background-color: rgb(200, 210, 255);
}

.squares li[data-level="2"] {
  background-color: rgb(167, 172, 248);
}

.squares li[data-level="3"] {
  background-color: rgb(114, 96, 218);
}

/* Dashboard Data Cards */

.dashboard-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "profile-section . ."
  "today-contribution today-streak small-stats-section";
  justify-content: center;
  align-items: center;
}

/* Dashboard Profile Section */
.profile-section {
  display: flex;
  grid-area: profile-section;
}

.profile-pic {
  width: auto;
  height: 5rem;
  border-radius: 500px;
  padding: 0 1rem;
}

.statcard-small {
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem;
  border-radius: 1rem;
  background-color: rgb(238, 240, 253);
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.today-streak {
  grid-area: today-streak;
}

.today-contribution {
  grid-area: today-contribution;
}

.dashboard-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

.small-stats-group {
  grid-area: small-stats-section;
}